//colors
$color-primary: #12326A;
$color-white: white;

.bg-primary {
  background: $color-primary;
}

.bg-white {
  background: $color-white;
}

.color-primary {
  color: $color-primary;
}

.color-white {
  color: $color-white;
}


